* { box-sizing: border-box; }

/* Typography */
h1{
    font-size: 5vw !important;
    font-weight: 600 !important;
}
h2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.8em;
}

a {
   color: #b2c3e7;
   text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #b2c3e7;
    text-decoration: underline;
}

#start-title{
    color: white;
    background-color: #20325a;
    padding: 0.8em;
    border-radius: 15%;
}

.btn-primary{
    background-color: #20325a;
    border : 1px solid #20325a;
    color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #324670;
    border : 1px solid #324670;
    color: white;
}

.rules{
    font-size: 1.2em;
}

.fas, 
.fa-futbol{
    color: white;
    font-size: 1.5em;
}

#chrono{
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(226, 221, 221);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.5em 1.5em;
    text-align: center;
    z-index: 2;
}

.jumbotron{
    background-color: #20325a;
    color: white;
    border-radius: 0 !important;
}

.video-background{
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
.video-foreground,
.video-background iframe {
    top: 0;
    left: 0;
    width: 100%;
}

.quizz{
    width: 70%;
    margin: auto;
    padding: 1em;
    border-radius: 0.8em;
}

.information, .quizz{
    background-color: rgba(199, 209, 243, 0.2);
}

#chrono{
    font-weight: bold;
    color: #20325a;
}

.title-time{
    color: white;
    background-color: #20325a;
    padding: 0.2em;
}

.time{
    font-weight: normal;
}

.interro{
    font-weight: bold;
    color: #20325a;
}

.question{
    margin: auto;
    padding: 0.5em 0.8em;
    border-bottom: 1px solid rgb(226, 221, 221);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
  
    border: 1px solid #999;
    transition: 0.85s all linear;
    margin-right: 0.8em;
  
    position: relative;
    top: 0.1em;
}
  
input:checked {
    border: 1px solid white;
    background-color: white;
}

.resolveAnswer{
    background-color: white;
    color: #0d920d;
    margin-top: 0.3em;
    padding: 0.2em;
}

.information{
    margin-top: 2em;
}

.more{
    width: 70%;
    margin: auto;
    padding-top: 3em;
}

button {
    margin-top: 1.5em;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #38538d;
    border-color: #38538d;
}

#donescore{
    height: 3em;
    background-color: #20325a;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.bravo{
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
}

.credit {
    font-size: 0.8em;
}

footer{
    margin-top: 8vh;
    background-color: #20325a;
    color: white;
    padding: 12vh 2vw;
    text-align: center;
}

@media (min-width: 900px){
    .display-4, 
    .lead, 
    #description,
    hr{
        display: block !important;
        width: 75%;
        margin: auto !important;
    }

    .video-background{
        width: 65%;
        margin: 1vh auto;
    }

    .quizz{
        width: 60%;
    }
}